*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  margin: 0;
}
.container {
  background-color: skyblue;
  height: 100vh;
}
.row::after {
  content: '';
  display: block;
  clear: both;
}
div {
  background-color: #eee;
}
.col {
  outline: 1px solid #000;
}

@media screen and (max-width: 479px) {
/* mobile only */
  .container {
    width: 100%;
    padding: 0 20px;
  }
  [class*="mb-"] {
    float: left;
    padding: 0 10px;
    height: 100px;
    background: tomato;
  }
  .mb-1-4 { width:  25%; }
  .mb-2-4 { width:  50%; }
  .mb-3-4 { width:  75%; }
  .mb-4-4 { width: 100%; }

}
@media screen and (min-width: 480px) and (max-width: 1199px) {
/* tablet only */
  .container {
    width: 100%;
    padding: 0 20px;
  }
  [class*="tb-"] {
    float: left;
    padding: 0 10px;
    height: 100px;
    background: lime;
  }
  .tb-1-8 { width: 12.5%; }
  .tb-2-8 { width:   25%; }
  .tb-3-8 { width: 37.5%; }
  .tb-4-8 { width:   50%; }
  .tb-5-8 { width: 62.5%; }
  .tb-6-8 { width:   75%; }
  .tb-7-8 { width: 87.5%; }
  .tb-8-8 { width:  100%; }

}
@media screen and (min-width: 1200px) {
/* desktop only */
  .container {
    width: 1200px;
    margin: 0 auto;
  }
  [class*="dk-"] {
    float: left;
    margin: 0 10px;
    background: #aaa;
    height: 100px;
  }
  .dk-1-12  { width:   80px; }
  .dk-2-12  { width:  180px; }
  .dk-3-12  { width:  280px; }
  .dk-4-12  { width:  380px; }
  .dk-5-12  { width:  480px; }
  .dk-6-12  { width:  580px; }
  .dk-7-12  { width:  680px; }
  .dk-8-12  { width:  780px; }
  .dk-9-12  { width:  880px; }
  .dk-10-12 { width:  980px; }
  .dk-11-12 { width: 1080px; }
  .dk-12-12 { width: 1180px; }

}
