body {
  display: flex;
  justify-content: center;
  align-items: center; }

.btn-modal, #input-todo-text, .btn-todo-input, .btn-close-modal {
  height: 24px;
  border: 2px solid #739cf5;
  background: #fff;
  color: #739cf5; }

.btn-modal, .btn-todo-input, .btn-close-modal {
  height: 24px;
  cursor: pointer; }
  .btn-modal:hover, .btn-todo-input:hover, .btn-close-modal:hover, .btn-modal:focus, .btn-todo-input:focus, .btn-close-modal:focus {
    background: #739cf5;
    color: #fff; }

*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  font-size: 16px; }

body {
  margin: 0;
  height: 100vh; }

.readable-hidden {
  position: absolute;
  text-indent: -101%;
  overflow: hidden; }

.btn-modal {
  position: absolute;
  width: 55px;
  height: 30px; }

.modal-window {
  flex: 0 0 500px;
  position: relative;
  height: 300px;
  padding: 10px;
  background: #fff;
  border-radius: 5px;
  border: 2px solid #739cf5;
  z-index: 10; }

.input-group {
  position: absolute;
  right: 10px;
  bottom: 10px; }

.todo-list {
  margin: 0;
  padding: 20px 50px;
  max-height: 250px;
  color: #739cf5;
  font-weight: bold; }

#input-todo-text {
  width: 250px;
  text-indent: 5px;
  border-radius: 5px 0 0 5px; }

.btn-todo-input {
  border-radius: 0 5px 5px 0; }

.btn-close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 5px; }
  .btn-close-modal:active {
    top: 11px; }

.modal-dim {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(168, 191, 178, 0.8); }
